<!DOCTYPE html>
<html>
    <head>
        <title>Party Planner</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    </head>

    <body>
        <h1>Party Planner</h1>
        <p>Pick a theme for your party and we will suggest the food and drinks. We'll even give you a heads up on the weather!</p>

        <div>Party theme: <input type="text" name="theme"></div>

        <p>Get a 5 day weather forecast of your area.</p>
        <form class="weather-search" method="GET">
            <div>City name: <input type="text" name="city"></div>
            <div>Country code: <input type="text" name="country_code"><br></div>
            <button onclick="" type="submit">Search</button>
        </form>

        {% for day in day_1 %}
            <p>{{ day }}</p>
        {% empty %}
            <p>There are no weather forecasts for this day</p>
        {% endfor %}


        {% for day in day_2 %}
            <p>{{ day }}</p>
        {% empty %}
            <p>There are no weather forecasts for this day</p>
        {% endfor %}
        

        {% for day in day_3 %}
            <p>{{ day }}</p>
        {% empty %}
            <p>There are no weather forecasts for this day</p>
        {% endfor %}


        {% for day in day_4 %}
            <p>{{ day }}</p>
        {% empty %}
            <p>There are no weather forecasts for this day</p>
        {% endfor %}


        {% for day in day_5 %}
            <p>{{ day }}</p>
        {% empty %}
            <p>There are no weather forecasts for this day</p>
        {% endfor %}
    </body>

</html>

