
<!DOCTYPE html>
<html>
    <head>
        <title>Minneapolis Picnic Planner</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    </head>

    <body>
        <h1>Minneapolis Picnic Planner</h1>
        <h5>Search for a type of food you like and we'll provide a food recipe, random drink recipe, and the weather! Everything you need to plan your picnic.</h5>

        <p>Search a type of food for a recipe suggestion: </p>
        <form class="food-search" method="POST" action="{% url 'get_party_data' %}">
            {% csrf_token %}
            {{ new_user_search_form }}
            <button id="new-user-search" type="submit">Search</button>
        </form>

    </body>

</html>
